*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #8f8686;
    width: 100%;
    height: 100vh;
}

header{
    background-color: gray;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin: 0 auto;
    color: white;
}

.logo, h1{
    font-size: 30px;
    
}

.navbar,li{
    display: inline-block;
    margin: 0 15px;
    font-weight: 500;
    font-size:18px;
}
.navbar,li:hover{
    text-decoration: underline;
    
}
.btn{
    width: 70px;
    height: 30px;
    border-radius: 10%;
    background-color: gray;
    border: 2px solid white;
    color: white;
    margin: 0 6px;
    font-weight: 600;
    font-size:12px;
    text-transform: uppercase;

}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#user, #open ,#close{
    margin-right: 10px;
    font-size: 25px;
}

#open ,#close{
    margin-left: 10px;
    font-size: 25px;
}

@media screen and (max-width:865px) {
    .navabr{
        display: none;
    }
}